<template>
  <b-container class="barometer dropshadow my-5">
    <b-row>
      <b-col cols="12" class="px-0 text-dgrey">
        <h3 class="fs-22 pt-4 text-center">Test din B2B virksomhed</h3>
        <h1 class="title font-bold text-center pb-4 px-2">HVOR DIGITAL ER DIN FORRETNING ?</h1>
      </b-col>
      <b-col class="bg-gradient" cols="12" v-for="(q, index) in questions" v-show="index == questionIndex" :key="q.id">
        <div class="d-flex flex-column align-items-center justify-content-center text-center mh-450 px-md-5 py-3 py-md-5 mb-5">
          <transition name="fade">
            <h2 class="question text-white" v-if="index == questionIndex">{{ q.question }}</h2>
          </transition>
          <div class="mt-3" v-if="q.image">
            <b-img :src="q.image" fluid></b-img>
          </div>
          <div class="d-flex row-wrap buttons justify-content-center">
            <transition name="fade" v-for="answer in q.answers">
              <b-button 
                variant="outline-primary btn-main" 
                class="fs-22 mt-3 py-3 px-5 mx-2 rounded-0" 
                v-if="index == questionIndex"
                @click="checkAnswer(answer)"
              >
                {{ answer.answer }}
              </b-button>
            </transition>
          </div>
        </div>
      </b-col>
      <b-col class="bg-gradient" cols="12" v-if="ended">
        <div class="mh-450 text-center text-white p-5 mb-5">
          <h1 class="fs-30 mb-5" v-if="score < 50">Der er et stort uudnyttet potentiale! Tænk mere digitalt før det er for sent.</h1>
          <h1 class="fs-30 mb-5" v-if="score > 50 && score < 100">Du følger med, men skal holde dig på tæerne</h1>
          <h1 class="fs-30 mb-5" v-if="score > 100">Det digitale verdensherredømme er lige om hjørnet</h1>
          <div class="d-flex justify-content-center">
            <VueSvgGauge
              class="d-flex mh-250 xs-w-100 md-w-50 mt-4"
              :start-angle="-100"
              :end-angle="100"
              :value="score"
              :separatorStep="0"
              :min="0"
              :max="100"
              :gauge-color="[{ offset: 0, color: '#E74C3C'}, { offset: 38, color: '#F39C12'}, { offset: 100, color: '#2ECC71'}]"
              :scale-interval="1"
              >
                <div class="inner-text">
                  <span></span>
                </div>
            </VueSvgGauge>
          </div>
          <div class="d-flex justify-content-center">
            <b-button 
              variant="outline-primary btn-main" 
              class="fs-22 px-5 py-3 mx-2 rounded-0" 
              @click="restart()"
            >
              Prøv igen
            </b-button>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import '../plugins/bootstrap-vue'
import { VueSvgGauge } from 'vue-svg-gauge'


export default {
  name: 'Barometer',
  components: {
    VueSvgGauge,
  },
  props: {
  },
  data() {
    return {
      score: 0,
      qIndex: 0,
      questionIndex: 1,
      ended: false,
      questions: {
        1: {
          question: 'Har din virksomhed en webshop bag log ind for jeres kunder?',
          answers: [
            { 
              answer: 'Ja',
              value: 5
            },
            {
              answer: 'Nej',
              value: 0
            }
          ]
        },
        2: {
          question: 'Har i en digital platform, hvor jeres kunder logger ind og bliver serviceret?',
          answers: [
            { 
              answer: 'Ja',
              value: 5
            },
            {
              answer: 'Nej',
              value: 0,
              end: true
            }
          ]
        },
        3: {
          question: 'Viser i kundespecifkke priser, eller er alle priser ens for alle kunder?',
          answers: [
            { 
              answer: 'Alle kunder ser samme priser',
              value: 0
            },
            {
              answer: 'Kunden ser sin egen pris',
              value: 5
            }
          ]
        },
        4: {
          question: 'Præsenteres kunden for flerstk. priser?',
          answers: [
            {
              answer: 'Ja',
              value: 5
            },
            { 
              answer: 'Nej',
              value: 0
            }
          ]
        },
        5: {
          question: 'Kan kunden søge i ordrehistorik?',
          answers: [
            {
              answer: 'Ja',
              value: 5
            },
            { 
              answer: 'Nej',
              value: 0,
              end: true
            }
          ]
        },
        6: {
          question: 'Kan kunden hente ordredokumenter, såsom fakturaer, kreditnota, følgesedler etc.?',
          answers: [
            {
              answer: 'Ja',
              value: 5
            },
            { 
              answer: 'Nej',
              value: 0
            }
          ]
        },
        7: {
          question: 'Kan kunden foretage en lynbestilling? Dvs. enten kopiere og indsætte direkte fra Excel, eller ved hjælp af tastaturet, hurtigt ligge i kurven uden at fremsøge eller klikke sig frem til produktet? Se eksempel her:',
          // image: 'https://via.placeholder.com/450x150.gif/09f/fff',
          answers: [
            {
              answer: 'Ja',
              value: 5
            },
            { 
              answer: 'Nej',
              value: 0
            }
          ]
        },
        8: {
          question: 'Kan jeres kunder se status på en ordre i et kundecenter?',
          answers: [
            {
              answer: 'Ja',
              value: 5
            },
            { 
              answer: 'Nej',
              value: 0
            }
          ]
        },
        9: {
          question: 'Hvor stor en andel af jeres ordrelinier, kommer fra web?',
          answers: [
            { 
              answer: '10%',
              value: 5
            },
            { 
              answer: '20%',
              value: 10
            },
            { 
              answer: '30%',
              value: 20
            },
            { 
              answer: '40%',
              value: 30
            },
            { 
              answer: '50%',
              value: 40
            }
          ]
        },
        10: {
          question: 'Hvornår etablerede i jeres B2B webshop?',
          answers: [
            { 
              answer: 'Inden for det seneste år',
              value: 5
            },
            { 
              answer: 'Inden for de seneste 3 år',
              value: 10
            },
            { 
              answer: 'Inden for de seneste 5 år eller derover',
              value: 20
            }
          ]
        },
        11: {
          question: 'Har i en digital ansvarlig ansat, som udelukkende arbejder med digital og web?',
          answers: [
            { 
              answer: 'Ja',
              value: 20
            },
            { 
              answer: 'Nej',
              value: 0
            }
          ]
        },
        12: {
          question: 'Budgettere i med jeres digitale indsats i jeres års budget som en dedikeret post?',
          answers: [
            { 
              answer: 'Ja',
              value: 20,
              end: true
            },
            { 
              answer: 'Nej',
              value: 0,
              end: true
            }
          ]
        }
      }
    }
  },
  methods: {
    checkAnswer(ans) {
      const questions = Object.keys(this.questions).length;
      this.score += ans.value;

      if(this.questionIndex < questions) {
        if(ans.end === true) {
          this.ended = true;
          return this.questionIndex = 0
        }
        return this.questionIndex += 1
      } else { 
        this.questionIndex = 0;
        this.ended = true;
      }
    },
    restart() {
      this.ended = false;
      return this.questionIndex = 1
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


h1, h2 {
  font-family: "Titillium Web", "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 300;

}

.fs-22 {
  font-size: 22px;
}

.fs-30 {
  font-size: 30px;
}
.question {
  font-size: 1.4em;
  margin-bottom: auto;
  margin-top: auto;
}

.buttons {
  margin-bottom: 50px;
}

.barometer {
  font-size: 1rem;
  font-weight: 400;
}

.dropshadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text-dgrey {
  color: #7d8992;
}

.btn-main {
    color: #fff;
    border-color: #fff;
}
.btn-main:hover, .btn-main:active, .btn-main:active {
  color: #82c3e4 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-main:focus{
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;
}

.mh-250 {
  min-height: 250px;
  max-height: 250px;
}

.mh-450 {
  min-height: 450px;
  max-height: 450px;
}

.row-wrap {
  flex-flow: row wrap !important;
}

.xs-w-100 {
  width: 100%;
}

.font-bold {
  font-weight: 700;
}

svg {
  min-height: 298px;
}

.bg-gradient {
  background: #b5dfaa;
  background: -moz-linear-gradient(left, #b5dfaa 0%, #b5dfaa 28%, #73bbe7 91%, #73bbe7 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #b5dfaa), color-stop(28%, #b5dfaa), color-stop(91%, #73bbe7), color-stop(100%, #73bbe7));
  background: -webkit-linear-gradient(left, #b5dfaa 0%, #b5dfaa 28%, #73bbe7 91%, #73bbe7 100%);
  background: -o-linear-gradient(left, #b5dfaa 0%, #b5dfaa 28%, #73bbe7 91%, #73bbe7 100%);
  background: -ms-linear-gradient(left, #b5dfaa 0%, #b5dfaa 28%, #73bbe7 91%, #73bbe7 100%);
  background: linear-gradient(to right, #b5dfaa 0%, #b5dfaa 28%, #73bbe7 91%, #73bbe7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5dfaa', endColorstr='#73bbe7', GradientType=1 );
}


@media only screen and (min-width: 768px) {
  .md-w-50 {
    width: 50%;
  }
  h1, h2 {
    font-size: 2em;
  }
  h1.title {
    font-size: 40px;
  }
  .question{
    font-size: 30px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
