<template>
  <div id="app">
    <Barometer />
  </div>
</template>

<script>
import Barometer from './components/Barometer.vue'


export default {
  name: 'app',
  components: {
    Barometer
  }
}
</script>

<style>
@import './assets/bootstrap.min.css';
@import './assets/bootstrap-vue.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
